<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/base.css') }}">
    <meta charset="UTF-8">
    <title>ScopertaApp</title>
</head>
<body>
    <h1>
        <p style="color: red; font-size: xxx-large; text-align: center" >Welcome for this discovery!</p>
        <p style="color: black; font-size: xxx-large; text-align: center">Benvenuto alla nuova scoperta!</p>
        <p style="color: darkblue; font-size: xxx-large; text-align: center">Bienvenu a la découverte!</p>
    </h1>
</body>
</html>